@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-width: 425px;
}

:root {
  --swiper-theme-color: #058288 !important;
}

.swiper-button-next,
.swiper-button-prev {
  font-weight: bold;
  filter: drop-shadow(0 1px 5px rgba(255, 255, 255, 0.151))
    drop-shadow(0 1px 6px rgba(255, 255, 255, 0.151));
}
